<!DOCTYPE html>
<html lang="ru-ru" dir="ltr">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="apple-mobile-web-app-capable" content="YES"/>
    <meta charset="utf-8"/>
    <base href=""/>
    <meta name="keywords"
          content="АО «Флексо Принт», полиграфический рынок, флексографическая печать, рулонная упаковка, самоклеящиеся этикетки"/>
    <meta name="description"
          content="Наша гордость - это довольные Клиенты, доверяющие нам производство этикетки и упаковки на протяжении многих лет!"/>
    <title>О компании</title>
    <link href="http://www.fleksoprint.ru/templates/flexo/favicon.ico" rel="shortcut icon"
          type="image/vnd.microsoft.icon"/>
    <link href="http://www.fleksoprint.ru/plugins/content/pdf_embed/assets/css/style.css" rel="stylesheet"/>
    <link href="http://www.fleksoprint.ru/plugins/system/jce/css/content.css?6a638a55278232801f2eec5053360a43"
          rel="stylesheet"/>
    <link href="http://www.fleksoprint.ru/templates/system/css/system.css?6a638a55278232801f2eec5053360a43"
          rel="stylesheet"/>
    <link href="http://www.fleksoprint.ru/templates/flexo/fonts/font.css?6a638a55278232801f2eec5053360a43"
          rel="stylesheet"/>
    <link href="http://www.fleksoprint.ru/templates/flexo/js/lib/owl-carousel/css/owl.carousel.min.css?6a638a55278232801f2eec5053360a43"
          rel="stylesheet"/>
    <link href="http://www.fleksoprint.ru/templates/flexo/js/lib/owl-carousel/css/owl.theme.default.min.css?6a638a55278232801f2eec5053360a43"
          rel="stylesheet"/>
    <link href="http://www.fleksoprint.ru/templates/flexo/css/jquery.fancybox.min.css?6a638a55278232801f2eec5053360a43"
          rel="stylesheet"/>
    <link href="http://www.fleksoprint.ru/templates/flexo/css/style.desktop.css?6a638a55278232801f2eec5053360a43"
          rel="stylesheet"/>
    <link href="http://www.fleksoprint.ru/templates/flexo/css/style.tablet.css?6a638a55278232801f2eec5053360a43"
          rel="stylesheet"/>
    <link href="http://www.fleksoprint.ru/templates/flexo/css/style.tablet-small.css?6a638a55278232801f2eec5053360a43"
          rel="stylesheet"/>
    <link href="http://www.fleksoprint.ru/templates/flexo/css/style.mobile.css?6a638a55278232801f2eec5053360a43"
          rel="stylesheet"/>
    <link href="http://www.fleksoprint.ru/templates/flexo/css/custom.css?6a638a55278232801f2eec5053360a43"
          rel="stylesheet"/>
    <style>
        #scrollToTop {
            cursor: pointer;
            font-size: 0.9em;
            position: fixed;
            text-align: center;
            z-index: 9999;
            -webkit-transition: background-color 0.2s ease-in-out;
            -moz-transition: background-color 0.2s ease-in-out;
            -ms-transition: background-color 0.2s ease-in-out;
            -o-transition: background-color 0.2s ease-in-out;
            transition: background-color 0.2s ease-in-out;

            background: #121212;
            color: #ffffff;
            border-radius: 3px;
            padding-left: 12px;
            padding-right: 12px;
            padding-top: 12px;
            padding-bottom: 12px;
            right: 20px;
            bottom: 20px;
        }

        #scrollToTop:hover {
            background: #665543;
            color: #ffffff;
        }

        #scrollToTop > img {
            display: block;
            margin: 0 auto;
        }

        #scrollToTop:hover, #scrollToTop {
            background: transparent
        }
    </style>
    <script type="application/json" class="joomla-script-options new">{
        "csrf.token": "18b150a10ad899907189b02353ba4ba4",
        "system.paths": {
            "root": "",
            "base": ""
        },
        "joomla.jtext": {
            "TPL_FLEXO_ALTOPEN": "is open",
            "TPL_FLEXO_ALTCLOSE": "is closed",
            "TPL_FLEXO_TEXTRIGHTOPEN": "Open info",
            "TPL_FLEXO_TEXTRIGHTCLOSE": "Close info",
            "TPL_FLEXO_FONTSIZE": "Font size",
            "TPL_FLEXO_BIGGER": "Bigger",
            "TPL_FLEXO_RESET": "Reset",
            "TPL_FLEXO_SMALLER": "Smaller",
            "TPL_FLEXO_INCREASE_SIZE": "Increase size",
            "TPL_FLEXO_REVERT_STYLES_TO_DEFAULT": "Revert styles to default",
            "TPL_FLEXO_DECREASE_SIZE": "Decrease size",
            "TPL_FLEXO_OPENMENU": "Open Menu",
            "TPL_FLEXO_CLOSEMENU": "Close Menu"
        }
    }</script>
    <script src="http://www.fleksoprint.ru/media/system/js/mootools-core.js?6a638a55278232801f2eec5053360a43"></script>
    <script src="http://www.fleksoprint.ru/media/system/js/core.js?6a638a55278232801f2eec5053360a43"></script>
    <script src="http://www.fleksoprint.ru/media/system/js/mootools-more.js?6a638a55278232801f2eec5053360a43"></script>
    <script src="http://www.fleksoprint.ru/media/plg_system_sl_scrolltotop/js/scrolltotop_mt.js"></script>
    <script src="http://www.fleksoprint.ru/media/jui/js/jquery.min.js?6a638a55278232801f2eec5053360a43"></script>
    <script src="http://www.fleksoprint.ru/media/jui/js/jquery-noconflict.js?6a638a55278232801f2eec5053360a43"></script>
    <script src="http://www.fleksoprint.ru/media/jui/js/jquery-migrate.min.js?6a638a55278232801f2eec5053360a43"></script>
    <script src="http://www.fleksoprint.ru/media/system/js/caption.js?6a638a55278232801f2eec5053360a43"></script>
    <script src="http://www.fleksoprint.ru/media/jui/js/bootstrap.min.js?6a638a55278232801f2eec5053360a43"></script>
    <script src="http://www.fleksoprint.ru/templates/flexo/js/lib/jquery-1.8.3.min.js?6a638a55278232801f2eec5053360a43"></script>
    <script src="http://www.fleksoprint.ru/templates/flexo/js/lib/owl-carousel/js/owl.carousel.min.js?6a638a55278232801f2eec5053360a43"></script>
    <script src="http://www.fleksoprint.ru/templates/flexo/js/lib/jquery.fancybox.min.js?6a638a55278232801f2eec5053360a43"></script>
    <script src="http://www.fleksoprint.ru/templates/flexo/js/scripts.js?6a638a55278232801f2eec5053360a43"></script>
    <!--[if lt IE 9]>
    <script src="/media/jui/js/html5.js?6a638a55278232801f2eec5053360a43"></script><![endif]-->
    <script>
        document.addEvent('domready', function () {
            new Skyline_ScrollToTop({
                'image': '/images/top.png',
                'text': '',
                'title': '',
                'className': 'scrollToTop',
                'duration': 500,
                'transition': Fx.Transitions.linear
            });
        });
        jQuery(window).on('load', function () {
            new JCaption('img.caption');
        });
        var big = '72%';
        var small = '53%';
        var bildauf = '/templates/flexo/images/plus.png';
        var bildzu = '/templates/flexo/images/minus.png';
        var rightopen = 'Open info';
        var rightclose = 'Close info';
        var altopen = 'is open';
        var altclose = 'is closed';

    </script>

    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=8bcad094-1c9d-49ea-8f63-0a29c35b06e0"
            type="text/javascript"></script>
    <script src="http://www.fleksoprint.ru/templates/flexo/js/yandex.js" type="text/javascript"></script>
</head>

<body>
<!-- wrapper -->
<div class="wrapper">
    <section class="main-section">

        <!-- header section -->
        <section class="header-section">

            <div class="row">
                <a class="logo" title="АО ФлексоПринт" href="/main"><img
                        src="http://www.fleksoprint.ru/images/oformlen/logo.svg" alt="ФлексоПринт"/></a>
                <div class="info">
							<span class='h1'><?/* для вывода на главной странице h1 */?>
                                САМОКЛЕЯЩИЕСЯ ЭТИКЕТКИ ОТ АО «ФЛЕКСО ПРИНТ»
							</span>
                    <p>
                        <span class="phone"><span class="blue-text">Тел:</span> <a href="tel:+78442979020">+7 (8442) 97-90-20</a></span>
                        <span class="slogan">
ОТ КЛАССИКИ ДО АВАНГАРДА
</span>
                    </p>
                </div>
                <a href="javascript:void(0)" class="menu-link"></a>
            </div>
            <div class="custom banner">
                <img src="http://www.fleksoprint.ru/images/banners/head-banner.jpg" alt="АО ФЛЕКСОПРИНТ"/></div>


            <!--head menu-->
			<nav class="head-menu">
				<ul class="nav menu mod-list">
					<li class="item-101  default current active"><a href="/main" >Главная</a></li><li
						class="item-107 "><a href="/about" >О компании</a></li><li
						class="item-108 "><a href="/advant" >Наши преимущества</a></li><li
						class="item-109 "><a href="/partners" >Партнеры</a></li><li
						class="item-111 "><a href="/jobseeker" >Соискателю</a></li><li
						class="item-112 "><a href="/geo" >География продаж</a></li><li
						class="item-113 "><a href="/contacts" >Контакты</a></li><li
						class="item-114 "><a href="/schema" >Схема проезда</a></li><li
						class="item-130 hidden-lg"><a href="/label" class="hidden-lg">Этикетка</a></li>
					<li class="item-131 hidden-lg"><a href="/pack" class="hidden-lg">Упаковка</a></li>
					<li class="item-132 hidden-lg"><a href="/types" class="hidden-lg">Виды отделок</a></li></ul>
				<div class="menu-bg"></div>
			</nav>


        </section>
        <!-- end header section -->


        <main>


            <div class="breadcrumbs">
                <a href="/main" class="pathway">Главная</a> / <span>О компании</span></div>


            <div id="system-message-container">
            </div>

            <article class="item-page">

                <div class="top-text">
                    <div class="back-home"><a href="/main" title="АО ФлексоПринт"><img
                            src="http://www.fleksoprint.ru/images/oformlen/baack-home.png" alt="АО ФлексоПринт"></a>
                    </div>

                    <h1>
                        О КОМПАНИИ </h1>

                </div>

                <div class="pull-left"></div>


                <section class="About-section">

                    <div class="About__text-area">
                        <p>Компания АО «Флексо Принт» была основана в 1997 году и проделала огромный путь от одной
                            печатной машины до парка современного печатного оборудования.</p>
                        <p>Сегодня АО «Флексо Принт» входит в двадцатку крупнейших полиграфических комплексов России,
                            изготавливающих самоклеящиеся этикетки и гибкую рулонную упаковку. На полиграфическом рынке
                            наше предприятие более 22 лет и работает более, чем в 20 регионах России.</p>
                        <p>Штат сотрудников составляет порядка 100 человек. Предприятие обладает серьезным парком
                            оборудования, который включает 5 единиц машин флексографской печати, цифровой комплекс HP
                            Indigo и собственный участок предпечатной подготовки.</p>
                        <p>Быть лидером на рынке — задача каждого дня. Наш успешный опыт и полученные результаты
                            позволяют добиваться этого в короткие сроки. Мы живем и работаем, создавая будущее, шагая
                            намеченными ориентирами нашего стратегического плана, который разрабатывается и утверждается
                            каждые три года. Он в полной мере учитывает тенденции рынка и ожидания собственников
                            бизнеса. Знание стратегических целей компании помогает каждому работнику активно участвовать
                            в развитии предприятия, понимать принципы взаимоотношений, учитывать интересы собственников
                            компании, уважительно относиться к клиентам компании и партнерам.</p>
                    </div>
                    <div class="About__photo">
                        <div class="About__photo-item"><a class="animateShine"
                                                          href="http://www.fleksoprint.ru/images/oformlen/about/flexoprint-1.png"
                                                          data-fancybox="about-2"><img
                                src="http://www.fleksoprint.ru/images/oformlen/about/flexoprint-1.png"
                                alt="Штат сотрудников"/></a></div>
                        <div class="About__photo-item"><a class="animateShine"
                                                          href="http://www.fleksoprint.ru/images/oformlen/about/flexoprint-2.png"
                                                          data-fancybox="about-2"><img
                                src="http://www.fleksoprint.ru/images/oformlen/about/flexoprint-2.png"
                                alt="Штат сотрудников"/></a></div>
                        <div class="About__photo-item"><a class="animateShine"
                                                          href="http://www.fleksoprint.ru/images/oformlen/about/fleks-print.jpg"
                                                          data-fancybox="about-2"><img
                                src="http://www.fleksoprint.ru/images/oformlen/about/fleks-print.jpg"
                                alt="Штат сотрудников"/></a></div>
                    </div>
                    <div class="About__texPhot">
                        <div class="About__item1">
                            <p>Мы осмысляем, мечтаем, договариваемся, вводим в эксплуатацию новое оборудование, внедряем
                                и совершенствуем технологии, развиваем свои возможности, компетенции, умения и навыки
                                сотрудников.</p>
                            <p>Решение вызывающих задач, поставленных нашими клиентами, вдохновляет нас на постоянное
                                развитие. Мы глубоко вникаем в особенности их производства, используем опыт работы с
                                лучшими брендами нашей страны и воплощаем в этикетке актуальные тенденции рынка.</p>
                            <p>Наша гордость- это довольные Клиенты, доверяющие нам производство этикетки и упаковки на
                                протяжении многих лет!!!</p>
                        </div>
                        <div class="About__item2"><a class="animateShine"
                                                     href="http://www.fleksoprint.ru/images/oformlen/about/about-4-big.png"
                                                     data-fancybox="about-2"><img
                                src="http://www.fleksoprint.ru/images/oformlen/about/about-4.png"
                                alt="Довольные клиенты"/></a></div>
                    </div>
                    <section class="company-values">
                        <h1>Ценности компании:</h1>
                        <div class="company-values__text">
                            <div class="company-values__text-item">
                                <p><span>Постоянное развитие.</span>Постоянно повышаем свои знания, развиваем навыки,
                                    предлагаем и реализовываем улучшения.</p>
                            </div>
                            <div class="company-values__text-item">
                                <p><span>Гибкость.</span>Меняемся с быстроизменяющимся миром.</p>
                            </div>
                            <div class="company-values__text-item">
                                <p><span>Честность и справедливость. </span>Мы честны перед собой и окружающими.
                                    Говорим, что думаем, поступаем, как говорим.</p>
                            </div>
                            <div class="company-values__text-item">
                                <p><span>Нацеленность на результат. </span>Всегда начинаем дело, представляя конечную
                                    цель.</p>
                            </div>
                            <div class="company-values__text-item">
                                <p><span>Уважение.</span>Уважаем своих коллег и партнеров и относимся к ним так, как
                                    хотим, чтобы они относились к нам.</p>
                            </div>
                            <div class="company-values__text-item">
                                <p><span>Профессионализм.</span>Мы готовы решать любые задачи на отлично!</p>
                            </div>
                            <div class="company-values__text-item">
                                <p><span>Синергия.</span>Достигаем результата, сотрудничая с окружающими. Результат
                                    команды всегда выше, чем одного человека.</p>
                            </div>
                            <div class="company-values__text-item">
                                <p><span>Концентрация.</span>При решении задач концентрируем внимание на самом важном и
                                    приоритетном.</p>
                            </div>
                            <div class="company-values__text-item">
                                <p><span>Доверие.</span>Доверяем, но проверяем! Выполняем обещания, создавая доверие.
                                </p>
                            </div>
                        </div>
                        <div class="company-values__photo">
                            <div class="company-values__photo-item"><a class="animateShine"
                                                                       href="http://www.fleksoprint.ru/images/oformlen/about/about-5.png"
                                                                       data-fancybox="about-3"><img
                                    src="http://www.fleksoprint.ru/images/oformlen/about/about-5.png"
                                    alt="Ценности компании"/></a></div>
                            <div class="company-values__photo-item"><a class="animateShine"
                                                                       href="http://www.fleksoprint.ru/images/oformlen/about/about-6.png"
                                                                       data-fancybox="about-3"><img
                                    src="http://www.fleksoprint.ru/images/oformlen/about/about-6.png"
                                    alt="Ценности компании"/></a></div>
                        </div>
                    </section>

                </section>


            </article>

        </main>


        <!--advantages section-->

        <!--end advantages section-->

        <!--product carousel section-->

        <!--end product carousel section-->


        <!-- footer section -->
        <section class="footer-section">


            <a class="footer-logo" title="АО ФлексоПринт" href="/main"> <img
                    src="http://www.fleksoprint.ru/images/oformlen/footer-logo.svg" alt="АО ФлексоПринт"/> <span>АО «Флексо Принт» - <b>член Волгоградской торгово-промышленной палаты</b></span>
            </a>


            <div class="footer-contacts">

                АО «Флексо Принт» - печать этикеток. <br>Адрес: г. Волгоград, ул. 25-летия Октября, 1, стр. 55. <br>Тел:
                <a href="tel:+78442979020">+7 (8442) 97-90-20</a>, <a href="tel:+78442979025">97-90-25</a>, <a
                    href="tel:+78442979030">97-90-30</a>. <br>E-mail: <a href="mailto:info@fleksoprint.ru">info@fleksoprint.ru</a>

            </div>


        </section>
        <!-- end footer section -->
    </section>
</div>
</body>

</html>