<!DOCTYPE html>
<html lang="ru-ru" dir="ltr">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="HandheldFriendly" content="true" />
		<meta name="apple-mobile-web-app-capable" content="YES" /> 
		<meta charset="utf-8" />
	<base href="" />
	<meta name="keywords" content="цифровая печать, цифровая печать цены, цифровая печать вакансии, полиграфическая цифровая печать, вакансии печатник цифровой печати" />
	<meta name="description" content="Вакансии АО &quot;Флексо Принт&quot;" />
	<title>Соискателю</title>
	<link href="http://www.fleksoprint.ru/templates/flexo/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
	<link href="http://www.fleksoprint.ru/plugins/content/pdf_embed/assets/css/style.css" rel="stylesheet" />
	<link href="http://www.fleksoprint.ru/plugins/system/jce/css/content.css?6a638a55278232801f2eec5053360a43" rel="stylesheet" />
	<link href="http://www.fleksoprint.ru/templates/system/css/system.css?6a638a55278232801f2eec5053360a43" rel="stylesheet" />
	<link href="http://www.fleksoprint.ru/templates/flexo/fonts/font.css?6a638a55278232801f2eec5053360a43" rel="stylesheet" />
	<link href="http://www.fleksoprint.ru/templates/flexo/js/lib/owl-carousel/css/owl.carousel.min.css?6a638a55278232801f2eec5053360a43" rel="stylesheet" />
	<link href="http://www.fleksoprint.ru/templates/flexo/js/lib/owl-carousel/css/owl.theme.default.min.css?6a638a55278232801f2eec5053360a43" rel="stylesheet" />
	<link href="http://www.fleksoprint.ru/templates/flexo/css/jquery.fancybox.min.css?6a638a55278232801f2eec5053360a43" rel="stylesheet" />
	<link href="http://www.fleksoprint.ru/templates/flexo/css/style.desktop.css?6a638a55278232801f2eec5053360a43" rel="stylesheet" />
	<link href="http://www.fleksoprint.ru/templates/flexo/css/style.tablet.css?6a638a55278232801f2eec5053360a43" rel="stylesheet" />
	<link href="http://www.fleksoprint.ru/templates/flexo/css/style.tablet-small.css?6a638a55278232801f2eec5053360a43" rel="stylesheet" />
	<link href="http://www.fleksoprint.ru/templates/flexo/css/style.mobile.css?6a638a55278232801f2eec5053360a43" rel="stylesheet" />
	<link href="http://www.fleksoprint.ru/templates/flexo/css/custom.css?6a638a55278232801f2eec5053360a43" rel="stylesheet" />
	<style>
#scrollToTop {
	cursor: pointer;
	font-size: 0.9em;
	position: fixed;
	text-align: center;
	z-index: 9999;
	-webkit-transition: background-color 0.2s ease-in-out;
	-moz-transition: background-color 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out;

	background: #121212;
	color: #ffffff;
	border-radius: 3px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 12px;
	padding-bottom: 12px;
	right: 20px; bottom: 20px;
}

#scrollToTop:hover {
	background: #665543;
	color: #ffffff;
}

#scrollToTop > img {
	display: block;
	margin: 0 auto;
}
#scrollToTop:hover, #scrollToTop{
background: transparent
}
	</style>
	<script type="application/json" class="joomla-script-options new">{"csrf.token":"18b150a10ad899907189b02353ba4ba4","system.paths":{"root":"","base":""},"joomla.jtext":{"TPL_FLEXO_ALTOPEN":"is open","TPL_FLEXO_ALTCLOSE":"is closed","TPL_FLEXO_TEXTRIGHTOPEN":"Open info","TPL_FLEXO_TEXTRIGHTCLOSE":"Close info","TPL_FLEXO_FONTSIZE":"Font size","TPL_FLEXO_BIGGER":"Bigger","TPL_FLEXO_RESET":"Reset","TPL_FLEXO_SMALLER":"Smaller","TPL_FLEXO_INCREASE_SIZE":"Increase size","TPL_FLEXO_REVERT_STYLES_TO_DEFAULT":"Revert styles to default","TPL_FLEXO_DECREASE_SIZE":"Decrease size","TPL_FLEXO_OPENMENU":"Open Menu","TPL_FLEXO_CLOSEMENU":"Close Menu"}}</script>
	<script src="http://www.fleksoprint.ru/media/system/js/mootools-core.js?6a638a55278232801f2eec5053360a43"></script>
	<script src="http://www.fleksoprint.ru/media/system/js/core.js?6a638a55278232801f2eec5053360a43"></script>
	<script src="http://www.fleksoprint.ru/media/system/js/mootools-more.js?6a638a55278232801f2eec5053360a43"></script>
	<script src="http://www.fleksoprint.ru/media/plg_system_sl_scrolltotop/js/scrolltotop_mt.js"></script>
	<script src="http://www.fleksoprint.ru/media/jui/js/jquery.min.js?6a638a55278232801f2eec5053360a43"></script>
	<script src="http://www.fleksoprint.ru/media/jui/js/jquery-noconflict.js?6a638a55278232801f2eec5053360a43"></script>
	<script src="http://www.fleksoprint.ru/media/jui/js/jquery-migrate.min.js?6a638a55278232801f2eec5053360a43"></script>
	<script src="http://www.fleksoprint.ru/media/system/js/caption.js?6a638a55278232801f2eec5053360a43"></script>
	<script src="http://www.fleksoprint.ru/media/jui/js/bootstrap.min.js?6a638a55278232801f2eec5053360a43"></script>
	<script src="http://www.fleksoprint.ru/templates/flexo/js/lib/jquery-1.8.3.min.js?6a638a55278232801f2eec5053360a43"></script>
	<script src="http://www.fleksoprint.ru/templates/flexo/js/lib/owl-carousel/js/owl.carousel.min.js?6a638a55278232801f2eec5053360a43"></script>
	<script src="http://www.fleksoprint.ru/templates/flexo/js/lib/jquery.fancybox.min.js?6a638a55278232801f2eec5053360a43"></script>
	<script src="http://www.fleksoprint.ru/templates/flexo/js/scripts.js?6a638a55278232801f2eec5053360a43"></script>
	<!--[if lt IE 9]><script src="/media/jui/js/html5.js?6a638a55278232801f2eec5053360a43"></script><![endif]-->
	<script>
document.addEvent('domready', function() {
	new Skyline_ScrollToTop({
		'image':		'/images/top.png',
		'text':			'',
		'title':		'',
		'className':	'scrollToTop',
		'duration':		500,
		'transition':	Fx.Transitions.linear
	});
});
jQuery(window).on('load',  function() {
				new JCaption('img.caption');
			});
	var big        = '72%';
	var small      = '53%';
	var bildauf    = '/templates/flexo/images/plus.png';
	var bildzu     = '/templates/flexo/images/minus.png';
	var rightopen  = 'Open info';
	var rightclose = 'Close info';
	var altopen    = 'is open';
	var altclose   = 'is closed';

	</script>

		<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=8bcad094-1c9d-49ea-8f63-0a29c35b06e0" type="text/javascript"></script>
		<script src="http://www.fleksoprint.ru/templates/flexo/js/yandex.js" type="text/javascript"></script>
	</head>
 
	<body> 
		<!-- wrapper -->
	<div class="wrapper">
        <section class="main-section">

            <!-- header section -->
            <section class="header-section">

                <div class="row">					
				
				
					
<a class="logo" title="АО ФлексоПринт" href="/main"><img src="http://www.fleksoprint.ru/images/oformlen/logo.svg" alt="ФлексоПринт" /></a>


									
			
					<div class="info">

													
							<span class='h1'><?/* для вывода на главной странице h1 */?>
							
								
САМОКЛЕЯЩИЕСЯ ЭТИКЕТКИ ОТ АО «ФЛЕКСО ПРИНТ»

						
							</span>
						
							<p>
							 

								
<span class="phone"><span class="blue-text">Тел:</span> <a href="tel:+78442979020">+7 (8442) 97-90-20</a></span>
 

							
								                          
								
									<span class="slogan">
ОТ КЛАССИКИ ДО АВАНГАРДА
</span>
								
															</p>
						
					</div>
					
					<a href="javascript:void(0)" class="menu-link"></a>
					
				</div> 
				
					

<div class="custom banner"  >
	<img src="http://www.fleksoprint.ru/images/banners/head-banner.jpg" alt="АО ФЛЕКСОПРИНТ" /></div>


				<!--head menu-->
				<nav class="head-menu">
					<ul class="nav menu mod-list">
						<li class="item-101  default current active"><a href="/main" >Главная</a></li><li
							class="item-107 "><a href="/about" >О компании</a></li><li
							class="item-108 "><a href="/advant" >Наши преимущества</a></li><li
							class="item-109 "><a href="/partners" >Партнеры</a></li><li
							class="item-111 "><a href="/jobseeker" >Соискателю</a></li><li
							class="item-112 "><a href="/geo" >География продаж</a></li><li
							class="item-113 "><a href="/contacts" >Контакты</a></li><li
							class="item-114 "><a href="/schema" >Схема проезда</a></li><li
							class="item-115 "><a href="/check">Калькулятор заказа</a></li><li
							class="item-130 hidden-lg"><a href="/label" class="hidden-lg">Этикетка</a></li>
						<li class="item-131 hidden-lg"><a href="/pack" class="hidden-lg">Упаковка</a></li>
						<li class="item-131 hidden-lg"><a href="/check" class="hidden-lg">Калькулятор Заказа</a></li>
						<li class="item-132 hidden-lg"><a href="/types" class="hidden-lg">Виды отделок</a></li></ul>
					<div class="menu-bg"></div>
				</nav>
				                <!--end head menu-->

            </section>
			<!-- end header section -->
			
			
						
				<main>	
												
						
<div class = "breadcrumbs">
<a href="/main" class="pathway">Главная</a> / <span>Соискателю</span></div>

						
					
					<div id="system-message-container">
	</div>

					<article class="item-page">

<div class="top-text">
    <div class="back-home"><a href="/main" title="АО ФлексоПринт"><img src="http://www.fleksoprint.ru/images/oformlen/baack-home.png"  alt="АО ФлексоПринт"></a></div>
						
			<h1>
			СОИСКАТЕЛЮ		</h1>
	
</div>

        <!--jobseeker -->
        <section class="jobseeker">
            <div class="jobseeker-wrapper"> 

							<div class="jobseeker-disare">
<div class="jobseeker-disare__item ">
<p class="jobseeker-disare__item--p">Пожелания к персоналу</p>
<h2 class="jobseeker-disare__item--h">Наша компания всегда готова принять в свою команду:</h2>
</div>
<div class="jobseeker-disare__item ">
<div class="jobseeker-disare__img"><img src="http://www.fleksoprint.ru/images/oformlen/vacancy/superjob-2012.png" alt="" /></div>
<div class="jobseeker-disare__img"><img src="http://www.fleksoprint.ru/images/oformlen/vacancy/superjob-2014.png" alt="" /></div>
<div class="jobseeker-disare__img"><img src="http://www.fleksoprint.ru/images/oformlen/vacancy/superjob-2018.png" alt="" /></div>
</div>
</div>
<div class="jobseeker-li">
<ul>
<li class="jobseeker-li__item">Специалистов, нацеленных на результат, видящих перед собой цель и принимающих ответственные решения в достижении результатов.</li>
<li class="jobseeker-li__item">Нам нужны люди, открытые новым знаниям, а мы всегда готовы делиться опытом и тренировать на успех!</li>
<li class="jobseeker-li__item">Нашей команде нужны специалисты честные, порядочные, инициативные, стремящиеся к развитию.</li>
</ul>
</div>
<div class="jobseeker-text">
<p>Если Вы готовы решать вызывающие задачи и верите в себя, то можете смело принимать участие в конкурсе на наши вакантные должности. Для этого заполните анкету кандидата, перейдя по <a class="jobseeker-text__link" href="docs/Anketa.doc" download="">ссылке</a>, и отправьте ее по адресу: <span id="cloak6c18b2ef9399a3785e5ccf3312283d18">Этот адрес электронной почты защищён от спам-ботов. У вас должен быть включен JavaScript для просмотра.</span><script type='text/javascript'>
				document.getElementById('cloak6c18b2ef9399a3785e5ccf3312283d18').innerHTML = '';
				var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
				var path = 'hr' + 'ef' + '=';
				var addy6c18b2ef9399a3785e5ccf3312283d18 = 'p&#101;rs&#111;n&#97;l' + '&#64;';
				addy6c18b2ef9399a3785e5ccf3312283d18 = addy6c18b2ef9399a3785e5ccf3312283d18 + 'fl&#101;ks&#111;pr&#105;nt' + '&#46;' + 'r&#117;';
				var addy_text6c18b2ef9399a3785e5ccf3312283d18 = 'p&#101;rs&#111;n&#97;l' + '&#64;' + 'fl&#101;ks&#111;pr&#105;nt' + '&#46;' + 'r&#117;';document.getElementById('cloak6c18b2ef9399a3785e5ccf3312283d18').innerHTML += '<a class="maillink" ' + path + '\'' + prefix + ':' + addy6c18b2ef9399a3785e5ccf3312283d18 + '\'>'+addy_text6c18b2ef9399a3785e5ccf3312283d18+'<\/a>';
		</script></p>
</div> 			
																
								<div class="jobseeker-actual">
									<div class="jobseeker-actual__text">
										<h2>Актуальные вакансии</h2>
									</div>

									<div class="jobseeker-actual__table">
									
									<table>
											<tr>
												<th>№</th>
												<th>Должность</th>
												<th>Обязанности</th>
												<th>Условия</th>
												<th>Требования</th>
											</tr>
										<tr><td>1</td><td>Технолог-колорист</td><td><p>‒ Изготовление флексографических красок. Выбор красок из имеющегося ассортимента и определение количественного состава для получения требуемого цвета.</p>
<p>‒ Подбор заданного цвета на спектофотометре. Наработка базы рецептурных формул.
</p>
<p>-Контроль технологического процесса.
<p/>
<p>-Заполнение технологических карт, контроль качества сырья и материалов.
<p/>
<p>-Оформление сопутствующей документации, составление производственных отчетов.</td><td><p>График работы 5/2.</p>
<p>
<p>Оформление в
соответствии с ТК РФ,
социальный пакет.</p><p>Обучение за счет компании.</p></td><td><p> ‒ Образование среднее специальное, высшее;</p>
<p>‒опыт работы колористом будет являться преимуществом;
<p/>
<p> ‒ готовы рассмотреть кандидатов без опыта работы, желающих обучаться и развиваться в сфере полиграфии.</td></tr><tr><td>2</td><td>Помощник печатника флексографской печати</td><td><p>- Работа в производственном отделе.</p>
<p>-Мойка механизма печатной машины .</p>

<p>- Помощь в настройке печатной машины.</p>
<p>-Фасовка отпечатанной продукции </p>
</td><td><p>Сменный график работы 2/2</p>

<p>Оформление в соответствии с ТК РФ, социальный пакет.</p>

<p>Перспектива карьерного роста.</p></td><td><p>- Готовность к работе с механизмами.</p>

<p>- Внимательность, ответственность, исполнительность.</td></tr>										</table>
 
									</div>
								</div>
										
				            </div>
        </section>
        <!--end jobseeker -->


<div class="pull-left"></div>



</article>

				</main>

			
			<!--advantages section-->
				
			<!--end advantages section-->
			
			<!--product carousel section-->
			 
            <!--end product carousel section-->


			<!-- footer section -->
            <section class="footer-section">
				

					
					
<a class="footer-logo" title="АО ФлексоПринт" href="/main"> <img src="http://www.fleksoprint.ru/images/oformlen/footer-logo.svg" alt="АО ФлексоПринт" /> <span>АО «Флексо Принт» - <b>член Волгоградской торгово-промышленной палаты</b></span> </a>

				
				

			
                <div class="footer-contacts">
					
АО «Флексо Принт» - печать этикеток. <br>Адрес: г. Волгоград, ул. 25-летия Октября, 1, стр. 55. <br>Тел: <a href="tel:+78442979020">+7 (8442) 97-90-20</a>, <a href="tel:+78442979025">97-90-25</a>, <a href="tel:+78442979030">97-90-30</a>. <br>E-mail: <a href="mailto:info@fleksoprint.ru">info@fleksoprint.ru</a>

				</div>
				
					
            </section>
			<!-- end footer section -->
			</section>
		</div>
	</body>

</html>