<select id="flexo-paper" name="flexo-paper" class="form-select-sm form-select">
    <optgroup label=" БУМАГА">
        <option value="1">Бумага полуглянцевая (акриловый клей - стандартный)</option>
        <option value="2">Бумага полуглянцевая (каучуковый клей - морозостойкий)</option>
        <option value="3">Бумага полуглянцевая (усиленный клей - для глубокой заморозки C2075)</option>
        <option value="4">Бумага полуглянцевая (легкосъёмный клей)</option>
        <option value="5">Бумага для пробирок (62 г/м2, каучуковый клей)</option></optgroup>
    <optgroup label=" ПЛЁНКА ПОЛИПРОПИЛЕНОВАЯ">
        <option value="7">Плёнка полипропиленовая белая (акриловый клей - стандартный)</option>
        <option value="8">Плёнка полипропиленовая белая (каучуковый клей - морозостойкий), от 1000 м2</option>
        <option value="9">Плёнка полипропиленовая серебристая (silver)</option>
        <option value="10">Плёнка полипропиленовая жемчужная (каучуковый клей - s2060, для шершавых поверхностей, толстый слой клея, кратно 1км)</option>
        <option value="11">Плёнка полипропиленовая белая (легкосъёмный клей)</option>
        <option value="12">Плёнка полипропиленовая прозрачная</option>
        <option value="13">Плёнка полипропиленовая суперпрозрачная</option>
    </optgroup>
    <optgroup label=" ПЛЁНКА ПОЛИЭТИЛЕНОВАЯ">
        <option value="15">Плёнка полиэтиленовая PE85 (белая)</option>
        <option value="16">Плёнка полиэтиленовая PE100 (белая)</option>
    </optgroup>
    <optgroup label=" ТЕРМОБУМАГА">
    <option value="18">Термобумага ТОП</option>
    <option value="19">Термобумага ЭКО</option>
</optgroup>
    <optgroup label=" ДРУГИЕ МАТЕРИАЛЫ"><option value="21">Бумага металлизированная</option>
    <option value="22">Пленка металлизированная</option>
    <option value="23">Бумага винная Антик Вайт</option>
    <option value="24">Бумага винная Silver Orion</option>
    <option value="25">Бумага винная Icy White</option>
</optgroup></select>